* {
  font-family: monospace;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  overflow-y: scroll;
}

.title {
  text-align: center;
  color: white;
}

header,
footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: white;
  padding: 1em;
  background-color: #5e004e;
  text-align: center;
}

footer {
  padding: 0.8em;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

footer img,
footer p {
  margin: 0 1em;
}

.arena {
  background-color: #11001a;
  height: 70vh;
  position: relative;
}

.options {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #5e004e;
}

.slider-option {
  color: white;
  width: 10em;
  margin: 1em;
}

.selected {
  background-color: #11001a;
  color: white;
}

.btn {
  padding: 1em;
  margin: 0 1em;
  outline: none;
  border: none;
  cursor: pointer;
}

.adders {
  padding: 1em;
  display: flex;
  justify-content: center;
  background-color: #5e004e;
}

.boid {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 25px solid #4379a5;
  margin: 0;
  padding: 0;
}

.droid {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 40px solid #c55b8d;
  margin: 0;
  padding: 0;
}

.barrier {
  position: absolute;
  background-color: #5004ee;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
